<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h2>Your Gold: {{ session['gold'] }}</h2>
        <form action="/process_money" method="post">Farm (Get 10-20 gold)
            <input type="hidden" name="building" value="farm">
            <input type="submit" value="Get Gold!">
        </form>
        <form action="/process_money" method="post">Cave (Get 5-10 gold)
            <input type="hidden" name="building" value="cave">
            <input type="submit" value="Get Gold!">
        </form>
        <form action="/process_money" method="post">House (Get 2-5 gold)
            <input type="hidden" name="building" value="house">
            <input type="submit" value="Get Gold!">
        </form>
        <form action="/process_money" method="post">Casino (Get or Lose 0-50 gold)
            <input type="hidden" name="building" value="casino">
            <input type="submit" value="Get Gold!">
        </form><br>
        <h3>Activity</h3>
        <ul>
            {% for activity in session['log'] %}
                <li>{{ activity }}</li>
            {% endfor %}
        </ul><br>
        
        <a href="/reset"><button>Reset</button></a>
    </body>
</html>