<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Great Number Game</title>
    </head>
    <body>
        <h2>The Great Number Game</h2>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if not session['correct'] %}
        <form action="/guess" method="post">
            <input type="number" name="guess"><br>
            <input type="submit" name="submit">
        </form>
        {% else %}
        <a href="/reset"><button type="button">Try Again</button></a>
        {% endif %}
    </body>
</html>