<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <form action="/result" method="post">
            Name: <input type="text" name="name"><br>
            Locations: <select name="locations"><br>
                <option value="Chicago">Chicago</option>
                <option value="L.A.">L.A.</option>
                <option value="Nowhere">Nowhere</option>
            </select><br>
            Comments:<br>
            <textarea name="comments" cols="35" rows="10"></textarea><br>
            <input type="submit"><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>